.FacebookSignIn
    display inline-block
    background #4c69ba
    background linear-gradient(#4c69ba, #3b55a0)
    color white
    width 34px
    border-radius 5px
    white-space nowrap

    &:hover
        background #e74b37
        cursor hand

    > span.icon
        background url('//fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/pO2d5bFWS8j.png') transparent 50% 50% no-repeat
        display inline-block
        vertical-align middle
        width 32px
        height 32px
